{% extends 'shop/basic.html' %} {% block title %}
<title>ABOUT</title>
{% endblock %} {% block body %}
<div class="alert alert-success" role="alert">
  <strong>ABOUT US </strong>Our website detail
</div>
<!-- <figure class="text-center">
  <blockquote class="blockquote">
    <p>Make your house a home with our beautifully crafted furniture.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Fredick in <cite title="Source Title">furniture</cite>
  </figcaption>
</figure> -->
<!-- <figure class="text-center">
  <p>
    Welcome to FRSS, where we believe that furniture should not only be
    functional, but also beautiful and inspiring. Our passion for design and
    craftsmanship is reflected in every piece we create, and we are proud to
    offer an extensive range of furniture that caters to every taste and
    budget.<br /><br /><br />
    Our story began 5 year ago, when a group of furniture enthusiasts came
    together to fill a gap in the market for high-quality, affordable furniture
    that was designed to last. Since then, we have grown into a trusted name in
    the industry, known for our commitment to quality, sustainability, and
    customer satisfaction.<br /><br /><br />
    At FRSS, we believe that furniture is not just a means to an end, but an
    expression of your personality and style. That's why we offer a wide variety
    of furniture collections, ranging from traditional to modern, and everything
    in between. From cozy sofas to elegant dining sets, we have something to
    suit every taste and budget.<br /><br /><br />
    We are also committed to sustainability, and we take pride in using
    eco-friendly materials and production methods wherever possible. We believe
    that it's important to leave a better world for future generations, and we
    strive to do our part in achieving that goal.<br /><br /><br />
    Thank you for choosing FRSS for your furniture needs. We look forward to
    helping you create the home of your dreams.<br /><br /><br />
  </p>
</figure>
  Main jumbotron for a primary marketing message or call to action -->
<main role="main">

   
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">FRSS</h1>
        <p>Welcome to FRSS, where we believe that furniture should not only be functional, but also beautiful and inspiring. Our passion for design and craftsmanship is reflected in every piece we create, and we are proud to offer an extensive range of furniture.........</p>
        <p><a class="btn btn-primary btn-lg" href="/shop/learn/{{customer.user.id}}" role="button">Learn more &raquo;</a></p>
      </div>
    </div> -->
    
    <div class="container">
        <!-- Example row of columns -->
         <h1 style="text-align: center">CREATOR</h1>
        <div class="row">
       
        <div class="col-md-4">
          <h2>Vishwajeet Singh Solanki</h2>
         
          <p style="font-family: 'Courier New', Courier, monospace; text-align: left; margin: 0 3vw; font-size: larger;">
              My name is
              <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Vishwajeet Singh
              Solanki</b> and I am a <b
              style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">second-year
              undergraduate student</b> at the Department of
              <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Computer
              Science and Engineering</b> enrolled in its 
              <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">B.Tech Degree
              Program</b> at the 
              <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Indian Institute
              of Technology(IIT) Kharagpur</b>.
          </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Swadhin Satyaprakash Majhi</h2>
          <p style="font-family: 'Courier New', Courier, monospace; text-align: left; margin: 0 3vw; font-size: larger;">
            My name is
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Swadhin Satyaprakash Majhi
            </b> and I am a <b
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">second-year
            undergraduate student</b> at the Department of
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Computer
            Science and Engineering</b> enrolled in its 
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">B.Tech Degree
            Program</b> at the 
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Indian Institute
            of Technology(IIT) Kharagpur</b>.
        </p>

          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Arnav Pati</h2>
          <p style="font-family: 'Courier New', Courier, monospace; text-align: left; margin: 0 3vw; font-size: larger;">
            My name is
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Arnav Pati
            </b> and I am a <b
            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">second-year
            undergraduate student</b> at the Department of
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Computer
            Science and Engineering</b> enrolled in its 
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">B.Tech Degree
            Program</b> at the 
            <b style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Indian Institute
            of Technology(IIT) Kharagpur</b>.
        </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
  
      <hr>
  
    </div> 
  
  </main>
  
  <footer class="container">
    <p>&copy; VAS 2023</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script></body>
  </html>
  
  
{% endblock %}
