{% extends 'shop/basic.html' %} {% block title %}
<title>ABOUT</title>
{% endblock %} {% block body %}
<div class="alert alert-success" role="alert">
  <strong>ABOUT US </strong>Our website detail
</div>
<figure class="text-center">
  <blockquote class="blockquote">
    <p>Make your house a home with our beautifully crafted furniture.</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Fredick in <cite title="Source Title">furniture</cite>
  </figcaption>
</figure>
 <figure class="text-center">
  <p>
    Welcome to FRSS, where we believe that furniture should not only be
    functional, but also beautiful and inspiring. Our passion for design and
    craftsmanship is reflected in every piece we create, and we are proud to
    offer an extensive range of furniture that caters to every taste and
    budget.<br /><br /><br />
    Our story began 5 year ago, when a group of furniture enthusiasts came
    together to fill a gap in the market for high-quality, affordable furniture
    that was designed to last. Since then, we have grown into a trusted name in
    the industry, known for our commitment to quality, sustainability, and
    customer satisfaction.<br /><br /><br />
    At FRSS, we believe that furniture is not just a means to an end, but an
    expression of your personality and style. That's why we offer a wide variety
    of furniture collections, ranging from traditional to modern, and everything
    in between. From cozy sofas to elegant dining sets, we have something to
    suit every taste and budget.<br /><br /><br />
    We are also committed to sustainability, and we take pride in using
    eco-friendly materials and production methods wherever possible. We believe
    that it's important to leave a better world for future generations, and we
    strive to do our part in achieving that goal.<br /><br /><br />
    Thank you for choosing FRSS for your furniture needs. We look forward to
    helping you create the home of your dreams.<br /><br /><br />
  </p>
</figure>

{% endblock %}